<%= render partial: 'shared/nav', locals: {title: 'New Category', url: unauthenticated_root_path , symbol: '<'} %>
<div class='cat-page'>

<%= form_for @category do |f| %>
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :icon %>
    <%= f.file_field :icon, class: "form-control" %>
  </div>
<br/>
  <%= f.submit "Create Category", class: "btn btn-primary b-w-c-g actions" %>
<% end %>
</div>
